.??*
!.github/
*~
\#.*#
CPAN
Makefile
blib/
*.cho
*.pdf
x.*
Misc
Released
t/out
pp/*/*.deps
pp/chordpro
pp/wxchordpro
pp/wxchordpro-sa
script/chordpro
script/wxchordpro
cava/Makefile
cava/installer
cava/release
cava/cava20-*
pm_to_blib
pd_*.json
files*.lst
res/pod
*.tex
*.sxd
xtest*
*.aux
*.log
*.out
MYMETA.*
MANIFEST.SKIP
