[Desktop Entry]
Name=ChordPro
Exec=wxchordpro
Type=Application
StartupNotify=true
Path=/home/jv/tmp
Icon=/home/jv/src/ChordPro/lib/App/Music/ChordPro/res/icons//chordpro.png
StartupWMClass=chordpro
X-Desktop-File-Install-Version=0.24
MimeType=application/x-chordpro
Categories=Graphics
