// see https://docs.microsoft.com/en-us/windows/desktop/menurc/versioninfo-resource

4711 ICON "chordpro.ico"

1 VERSIONINFO
FILEVERSION     0,0,975,0
PRODUCTVERSION  0,0,975,0

BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4" // US English CP 1252 (Windows ANSI)
    BEGIN
      VALUE "Comments", "Beta version, use at your own risk"
      VALUE "CompanyName", "ChordPro.ORG"
      VALUE "FileDescription", "ChordPro GUI Launcher"
      VALUE "FileVersion", "0.975"
      VALUE "InternalName", "wxchordpro"
      VALUE "LegalCopyright", "Copyright 2010,2018,2020 The ChordPro Team"
      VALUE "OriginalFilename", "wxchordpro.exe"
      VALUE "ProductName", "ChordPro"
      VALUE "ProductVersion", "0.975.beta"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END

