name: CI for Linux

on:
    push:
        branches: '*'

jobs:
  perl-job:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        perl-version:
          - 'latest'
          - '5.26'
    container:
      image: perldocker/perl-tester:${{ matrix.perl-version }}     # https://hub.docker.com/r/perldocker/perl-tester
    name: Perl ${{ matrix.perl-version }}
    steps:
      - uses: actions/checkout@v2
      - name: perl -V
        run: perl -V
      - name: Install Dependencies
        run: |
            env INCHS=1 cpanm HarfBuzz::Shaper || cat ${HOME}/.cpanm/build.log
            cpanm --installdeps --notest .
      - name: Make and run tests
        run: |
            perl Makefile.PL
            make -f Makefile
            make -f Makefile test

